In [ ]:
# 파일명에 년월일 있는지 
# 데이터 내에 년월일 있는지 -> 데이터 여러개 읽을때 패턴 찾기위해
# 데이터 보면서 필요한 컬럼, 행 확인하기

In [ ]:
# 201901 파일 읽어 들인 후 조회해 주세요
# 변수명 : kto_201901 사용

In [4]:
import pandas as pd

In [111]:
file_path = 'C:/STUDY/busan220608/2day_판다스기초/files/kto_201901.xlsx'
kto_201901 = pd.read_excel(file_path,header=1,skipfooter=4,usecols='A:G')
kto_201901.info()
kto_201901.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [112]:
condition = (kto_201901['관광']==0)|\
            (kto_201901['상용']==0)|\
            (kto_201901['공용']==0)|\
            (kto_201901['유학/연수']==0)
condition

0     False
1     False
2     False
3     False
4      True
      ...
62    False
63     True
64     True
65     True
66     True
Length: 67, dtype: bool

In [113]:
print(len(kto_201901[condition]))
kto_201901[condition]

13

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [114]:
# 기준년월 컬럼을 만들고 값은 2019-01로 넣어주세요
kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [115]:
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [116]:
continents_list=['아시아주', '미주','구주','대양주','아프리카주','기타대륙', '교포소계']
continents_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [ ]:
# 국적 데이터에서 continents_list에 대륙 이름이 없는것만 필터링하기

In [117]:
kto_201901_country = kto_201901[kto_201901['국적'].isin(continents_list)==False]
kto_201901_country
kto_201901_country['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [118]:
# 기존의 인덱스 삭제하고 인덱스 초기화 하기 
kto_201901_country_newindex = kto_201901_country.reset_index(drop =True)
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [119]:
kto_201901[kto_201901['국적'].isin(continents_list)]

       국적      관광     상용    공용  유학/연수      기타       계     기준년월
0    아시아주  765082  10837  1423  14087  125521  916950  2019-01
26     미주   54982    526  2657    479   22277   80921  2019-01
32     구주   47681   1465   230   1177   19485   70038  2019-01
56    대양주   15379    116    38     39    2052   17624  2019-01
60  아프리카주    1136    727    91    212    1524    3690  2019-01
63   기타대륙      33      4     0      1      16      54  2019-01
65   교포소계       0      0     0      0   15526   15526  2019-01

In [120]:
# 아시아, 아메리카, 유럽 ,오세아니아, 아프리카, 기타대륙, 교포 
continents = ['아시아']*25+['아메리카']*5+['유럽']*23+['오세아니아']*3+['아프리카']*2+['기타대륙']+['교포']
print(len(continents))
continents

60

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [121]:
# 리스트 만들어서 데이터에 넣기 
kto_201901_country_newindex['대륙']=continents
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [51]:
kto_201901_country_newindex.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아
1   대만   86393    74   22    180  1285   87954  2019-01  아시아
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아
3  마카오    2506     2    0     17    45    2570  2019-01  아시아
4   태국   34004    37  199     96  6998   41334  2019-01  아시아

In [ ]:
# 각 국가별 국내에 관광을 위해 입국하는 '관광객비율(%)' 컬럼 생성하기
# 관광객비율(%) = 관광/계*100

In [122]:
kto_201901_country_newindex['관광객비율(%)']=round(kto_201901_country_newindex['관광']/kto_201901_country_newindex['계']*100,1)
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [123]:
kto_201901_country_newindex.sort_values(by = '관광객비율(%)',ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [124]:
# 대륙별 관광객비율 평균 
kto_201901_country_newindex.pivot_table(values = '관광객비율(%)',
                                       index='대륙',
                                       aggfunc='mean')
# index 기준으로 관광객비율이라는 데이터를 mean으로 처리

        관광객비율(%)
대륙
교포      0.000000
기타대륙   61.100000
아메리카   68.200000
아시아    59.624000
아프리카   32.700000
오세아니아  84.833333
유럽     63.826087

In [125]:
kto_201901_country_newindex[kto_201901_country_newindex['국적']=='중국']

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아      81.5

In [126]:
# 컬럼명 : 전체 비율(%) , 소숫점 한자리 
kto_201901_country_newindex['전체비율(%)'] = round(kto_201901_country_newindex['관광']/kto_201901_country_newindex['관광'].sum()*100,1)
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [127]:
# '전체비율 구하기 다른식'
round(kto_201901_country_newindex['관광']/sum(kto_201901_country_newindex['관광'])*100,1)

0     22.5
1      9.8
2      3.9
3      0.3
4      3.8
5      2.2
6      1.6
7      1.6
8      0.9
9      0.1
10     1.2
11     0.3
12     0.0
13     0.0
14     0.0
15     0.1
16     0.9
17    36.2
18     0.0
19     0.1
20     0.1
21     0.2
22     0.2
23     0.2
24     0.2
25     4.9
26     0.9
27     0.1
28     0.1
29     0.2
30     0.9
31     0.6
32     0.4
33     0.2
34     0.1
35     0.1
36     0.2
37     0.1
38     0.1
39     0.1
40     0.1
41     0.1
42     0.1
43     0.0
44     0.0
45     0.0
46     0.1
47     2.0
48     0.0
49     0.0
50     0.0
51     0.1
52     0.2
53     1.4
54     0.2
55     0.1
56     0.0
57     0.1
58     0.0
59     0.0
Name: 관광, dtype: float64

In [ ]:
# 전체 116개 통합하기
# 통합에 사용할 데이터프레임 변수명 : df
# 전체 통합 후 조회하기

In [128]:
i=0
list_name =[]
for i in range(2010, 2020,1):
    for j in range(1,13,1):
        list_name.append((str(i)+str(j).zfill(2)))

list_name

['201001',
 '201002',
 '201003',
 '201004',
 '201005',
 '201006',
 '201007',
 '201008',
 '201009',
 '201010',
 '201011',
 '201012',
 '201101',
 '201102',
 '201103',
 '201104',
 '201105',
 '201106',
 '201107',
 '201108',
 '201109',
 '201110',
 '201111',
 '201112',
 '201201',
 '201202',
 '201203',
 '201204',
 '201205',
 '201206',
 '201207',
 '201208',
 '201209',
 '201210',
 '201211',
 '201212',
 '201301',
 '201302',
 '201303',
 '201304',
 '201305',
 '201306',
 '201307',
 '201308',
 '201309',
 '201310',
 '201311',
 '201312',
 '201401',
 '201402',
 '201403',
 '201404',
 '201405',
 '201406',
 '201407',
 '201408',
 '201409',
 '201410',
 '201411',
 '201412',
 '201501',
 '201502',
 '201503',
 '201504',
 '201505',
 '201506',
 '201507',
 '201508',
 '201509',
 '201510',
 '201511',
 '201512',
 '201601',
 '201602',
 '201603',
 '201604',
 '201605',
 '201606',
 '201607',
 '201608',
 '201609',
 '201610',
 '201611',
 '201612',
 '201701',
 '201702',
 '201703',
 '201704',
 '201705',
 '201706',
 '201707',
 '201708',
 '201709',
 '201710',
 '201711',
 '201712',
 '201801',
 '201802',
 '201803',
 '201804',
 '201805',
 '201806',
 '201807',
 '201808',
 '201809',
 '201810',
 '201811',
 '201812',
 '201901',
 '201902',
 '201903',
 '201904',
 '201905',
 '201906',
 '201907',
 '201908',
 '201909',
 '201910',
 '201911',
 '201912']

In [157]:
clear_df=pd.DataFrame()
for i in list_name:
    try:
        file_path ='C:/STUDY/busan220608/2day_판다스기초/files/kto_{}.xlsx'.format(i) 
        df = pd.read_excel(file_path, header=1,skipfooter=4,usecols='A:G')
        df['기준년월']= i
        df = df[df['국적'].isin(continents_list)==False]
        df=df.reset_index(drop =True)
        df['대륙']=continents
        df['관광객비율(%)']=round(df['관광']/df['계']*100,1)
        df.sort_values(by = '관광객비율(%)',ascending=False)
        df['전체비율(%)'] = round(df['관광']/df['관광'].sum()*100,1)
        clear_df = pd.concat([clear_df,df],ignore_index=True)

    except:
        pass

clear_df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,201001,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,201001,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,201001,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,201001,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,201001,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,201908,오세아니아,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,201908,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,201908,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,201908,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,201908,교포,0.0,0.0

### 풀이

In [150]:
df2=pd.DataFrame()

for y in range(2010, 2020,1):
    for m in range(1,13,1):
        try : # 예외처리
            #처리필요
            file_nm = str(y)+str(m).zfill(2)
            file_path = 'C:/STUDY/busan220608/2day_판다스기초/files/kto_{}.xlsx'.format(file_nm)
            kto_201901 = pd.read_excel(file_path,header=1,skipfooter=4,usecols='A:G')

            #처리필요
            kto_201901['기준년월'] = str(y)+'-'+str(m).zfill(2)

            continents_list=['아시아주', '미주','구주','대양주','아프리카주','기타대륙', '교포소계']
            kto_201901[kto_201901['국적'].isin(continents_list)]
            kto_201901_country = kto_201901[kto_201901['국적'].isin(continents_list)==False]
            kto_201901_country_newindex = kto_201901_country.reset_index(drop =True)

            continents = ['아시아']*25+['아메리카']*5+['유럽']*23+['오세아니아']*3+['아프리카']*2+['기타대륙']+['교포']
            print(len(continents))

            kto_201901_country_newindex['대륙']=continents

            kto_201901_country_newindex['관광객비율(%)']=round(kto_201901_country_newindex['관광']/kto_201901_country_newindex['계']*100,1)
            kto_201901_country_newindex.sort_values(by = '관광객비율(%)',ascending=False)
            kto_201901_country_newindex['전체비율(%)'] = round(kto_201901_country_newindex['관광']/kto_201901_country_newindex['관광'].sum()*100,1)

            df2 =  pd.concat([df2,kto_201901_country_newindex],ignore_index=True)
        
        except : 
            pass # 오류나오면 pass

60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60

In [151]:
df2

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0

In [152]:
# 저장 
df2.to_excel('C:/STUDY/busan220608/2day_판다스기초/files/kto_total.xlsx',index=False)